<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="">
            <tr>
                <td>First name</td>
                <td><input type="text", id=''></td>
            </tr>
            <br>
            <br>
            <tr>
                <td>Last name</td>
                <td><input type="text", id=''></td>
            </tr>
            <br>
            <br>
            <tr>
                <td>Email</td>
                <td><input type="text", id=''></td>
            </tr>
            <br>
            <br>
            <tr>
                <td>Contact</td>
                <td><input type="text", id=''></td>
            </tr>
            <br>
            <br>
            <tr>
               
                <td><input type="submit", value='Submit'></td>
            </tr>
        </form>
    </center>
</body>
</html>