{% extends "header.html" %}
{% block content %}
<!-- 
    <body>
        <br>
        <h1>{{name}}</h1>
    </body>
{% endblock %} -->

<body>
    <div class="main">{{bdata}}</div>
    {% for n in clist %}
    {% endfor %}
    <br>
    <table border="1" cellpadding = "10">
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
        </tr>
    {% for d in student_details %}
    <tr>
        <td>{{d.name}}</td>
        <td>{{d.phone}}</td>
    </tr>
    {% endfor %}
    </table>
   
</body>

{% endblock %} 

